body
{
    background-image: url('Images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
.forTree
{
    width: 250px;
    background-color:rgba(95, 86, 86, 0.514);
    height: 100px;
    position: absolute;
    top: 10%;
    left: 500px;
    margin-left: 20px;
    border-radius: 2ch;
    display: flex;
}
.tree1
{
    flex: 50%;
    padding: 5%;
}
.tree2
{
    margin-top: 20px;
    margin-left: 10px;
    flex: 50%;
    padding: 5%;
}
.div1
{
    border: 1px solid red;
    width: 300px;
    height: 350px;
    position: absolute;
    padding-right: 50px;
    top: 30%;
    left: 40%;
}
.div2
{
    border: 1px solid black;
    position: absolute;
    top: 50%;
    width: 150px;
    height: 80px;
    left: 552px;
    padding-left: 90px;
    padding-top: 30px;
    text-align: center;
    color:black;
}